:root{
    --gray-3: hsla(140, 6%, 20%, 1);
    --menu-content-color: #a60832;
    --body-bg-color: #ededed;
    --body-bg-color-dark: #1a1c1a;
    --content-color: black;
    --content-color-dark: #f7f7f7;
    --menu-content-color-dark: #B0B5B2;
}

.request-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 38rem;
    max-width: 38rem;
}

.request-form input, .request-form textarea, .request-form button{
    padding: 12px 18px;
    border-radius: 4px;
    outline : none;
    border: none;
    background-color: hsla(140, 6%, 15%, 1);
    color: var(--content-color-dark);
    resize: none;
}

body.light-mode .request-form input, body.light-mode .request-form textarea, body.light-mode .request-form button{
    background-color: #e0e0e0;
}

body.light-mode button{
    color: var(--body-bg-color-dark)
}

.request-form button{
    font-weight: bold;
    letter-spacing: .8px;
}

.request-form button:hover{
    cursor: pointer;
    border: 1px solid var(--menu-content-color-dark);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .request-form{
        min-width: 100%;
        max-width: 100%;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px hsla(140, 6%, 15%, 1) inset !important; /* dark background */
  -webkit-text-fill-color: #fff !important; /* text color */
  transition: background-color 5000s ease-in-out 0s;
}